$red: #F53838;
// $sign-red: #F53855;
$dark-grey: #0B132A;
$grey: #4F5665;
$light-grey: #AFB5C0;
$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-lg: 1800px;
$margin-default: 10px;